<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <style type="text/css">
      body {
        background-color: #fff;
        color: #000;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 1em;
      }
      a:link, a:visited, a:active {
        color: blue;
      }
      a:hover {
        color: red;
      }
      h1 {
        font-size: 200%;
        text-transform: uppercase;
      }
      p {
        margin-left: 10px;
      }
      table {
        background-color: #000;
        border: 2px solid #000;
        border-collapse: separate; /* Needed to get the rounded corners to appear. */
        border-spacing: 1px;
        border-radius: 6px;
        font-size: 85%;
      }
      thead {
        color: #fff;
      }
      tbody th {
        color: #000;
      }
      th {
        font-weight: bold;
        text-align: left;
      }
      th, td {
        padding: 5px;
        vertical-align: top;
      }
      td {
        background-color: #fff;
      }
      .bucket, .dataset, .function, .service, .topic {
        font-size: 120%;
      }
      .no-permissions {
        color: #999;
        font-style: italic;
      }
      .role {
        border-bottom: 2px solid #ccc;
        font-weight: bold;
        padding-bottom: 6px;
      }
    </style>
    <style type="text/css" media="print">
      h1 {
        font-size: 100%;
      }
      p {
        display: none;
      }
      table {
        border: 1px solid #000;
        border-collapse: collapse;
      }
      thead {
        color: #000;
      }
      th, td {
        border: 1px solid #000;
      }
      .no-permissions {
        color: #000;
        font-style: italic;
      }
      .role {
        border-bottom: 1px solid #ccc;
      }
    </style>
  </head>
  <body>
    <h1 id="top"><%= title %></h1>
    <p><a href="gcs">GCS</a> &bull; <a href="#pubsub">PubSub</a> &bull; <a href="#cloudfunctions">Cloud Functions</a> &bull; <a href="#cloudrun">Cloud Run</a> &bull; <a href="#datasets">BigQuery Datasets</a></p>
  <% unless gcs_table_rows.length.zero? %>
    <table id="gcs">
      <thead>
        <tr>
          <th>GCS Bucket</th>
          <th>IAM Permissions</th>
          <th>GCP Internal</th>
        </tr>
      </thead>
      <tbody>
      <% gcs_table_rows.each do |row| %>
        <tr>
          <%= row %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p><a href="#top">Top</a></p>
  <% end %>
  <% unless pubsub_table_rows.length.zero? %>
    <table id="pubsub">
      <thead>
        <tr>
          <th>Pub/Sub Topic</th>
          <th>IAM Permissions</th>
        </tr>
      </thead>
      <tbody>
      <% pubsub_table_rows.each do |row| %>
        <tr>
          <%= row %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p><a href="#top">Top</a></p>
  <% end %>
  <% unless cloud_functions_table_rows.length.zero? %>
    <table id="cloudfunctions">
      <thead>
        <tr>
          <th>Cloud Function</th>
          <th>IAM Permissions</th>
        </tr>
      </thead>
      <tbody>
      <% cloud_functions_table_rows.each do |row| %>
        <tr>
          <%= row %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p><a href="#top">Top</a></p>
  <% end %>
  <% unless cloud_run_table_rows.length.zero? %>
    <table id="cloudrun">
      <thead>
        <tr>
          <th>Cloud Run Service</th>
          <th>IAM Permissions</th>
        </tr>
      </thead>
      <tbody>
      <% cloud_run_table_rows.each do |row| %>
        <tr>
          <%= row %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p><a href="#top">Top</a></p>
  <% end %>
  <% unless dataset_table_rows.length.zero? %>
    <table id="datasets">
      <thead>
        <tr>
          <th>BigQuery Dataset</th>
          <th>IAM Permissions</th>
        </tr>
      </thead>
      <tbody>
      <% dataset_table_rows.each do |row| %>
        <tr>
          <%= row %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p><a href="#top">Top</a></p>
  <% end %>
  </body>
</html>